<nav class="row navbar navbar-expand-lg justify-content-md-between px-3 py m-auto bg-danger align-items-center">
    <div class="col-8 d-flex  ">
        <span class="text-light"><b>Farmacia La Salud</b></span>
    </div>
    <div class="col-2 mx-4 ">
        <ul class="navbar-nav d-flex flex-row justify-content-around ">
            <li class="nav-item certificado-regalo rounded-3 d-flex justify-content-center align-items-center"><button type="button" class="btn btn-light" routerLink="home">Lo mas vendido</button></li>
            <li class="nav-item inicio-session rounded-3 d-flex justify-content-center align-items-center"><button type="button" class="btn btn-light" routerLink="agotado">Agotado</button></li>
        </ul>
    </div>
</nav>